// Define variables for your color scheme

// For example:
$dark-green: #094636;
$green: #306b4f;
$light-green: #a7c8ab;
$grey: #34363e;
$grey-background: #F7F7F7;
$blue: #1e3f68;

$brand-color: $green;
