// Specific CSS for your home-page
#home-banner {
  background-image: asset-url("invitation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75vh;
  width: 100vw;
  text-align: center;
}
#home-intro {
  padding-top: 2vh;
  color: #34363e;
  h1 {
    margin-bottom: 0;
    font-size: 80px;
  }
  h2 {
    margin-top: 0;
    font-size: 44px;
  }
}
