.text-green {
  color: $green;
}
.text-card {
  padding: 12px;
  font-size: 18px;
  border-radius: 4px;
  display: inline-block;
}
.text-card--grey-bg {
  background: rgba(255,255,255,0.8);
  border: 1px solid $green;
  color: $green;
}
.text-card--green-bg {
  background: $green;
  border: 1px solid $green;
  color: white;
}

// backgrounds
.grey-bg {
  background-color: $grey;
}
