<div id="footer" class="bg-grey">
  <div class="container">
    <div class="text-center">
      <h5>Réponse souhaitée avant le 31 juillet</h5>
      <p>Si vous souhaitez nous écrire : julieetmatthieu.mariage@gmail.com</p>
      <%= link_to "Répondre sur le site", wedding_path(anchor: "rsvp"), class: "link-upper" %>
    </div>
  </div>
  <div class="copyright-container">
    <p>© <a href="https://www.agence-41.com/" target="_blank">Agence 41</a> - 2018</p>
  </div>
</div>
