<div id="footer" class="bg-grey">
  <div class="container">
    <div class="text-center">
      <h5>Réponse souhaitée avant le 31 juillet</h5>
      <p>Si vous souhaitez nous écrire : julieetmatthieu.mariage@gmail.com</p>
    </div>
  </div>
</div>
