<div class="container">
  <h1>Component list</h1>

  <h2>Boutons</h2>
  <div class="btn btn-bordered-green">Valider</div>

  <h2>Formulaire</h2>

  <label for="description" class="label-upper">Description</label>
  <input type="text" class="grey-input" id="description">

  <h2>Liens</h2>

  <a href="#" class="text-green link-upper">Valider</a>

  <h2>Titres</h2>

  <h1>h1. Mariage Julie & Matthieu</h1>
  <h2>h2. Mariage Julie & Matthieu</h2>
  <h3>h3. Mariage Julie & Matthieu</h3>
  <h4>h4. Mariage Julie & Matthieu</h4>
  <h5>h5. Mariage Julie & Matthieu</h5>

  <h2>Encarts de texte</h2>

  <div class="grey-bg">
    <div class="text-card text-card--grey-bg">
      Julie & Matthieu
    </div>
  </div>

  <div class="text-card text-card--green-bg">
    Julie & Matthieu
  </div>
</div>
