<div class="container">
  <h1>Component list</h1>

  <h2>Boutons</h2>
  <div class="btn btn-bordered-green">Valider</div>
  <div class="btn btn-green">Valider</div>

  <h2>Formulaire</h2>

  <label for="description" class="label-upper">Description</label>
  <input type="text" class="input grey-input" id="description">

  <h2>Liens</h2>

  <a href="#" class="text-green link-upper">Valider</a>

  <h2>Titres</h2>

  <h1>h1. Mariage Julie & Matthieu</h1>
  <h2>h2. Mariage Julie & Matthieu</h2>
  <h3>h3. Mariage Julie & Matthieu</h3>
  <h4>h4. Mariage Julie & Matthieu</h4>
  <h5>h5. Mariage Julie & Matthieu</h5>

  <h2>Encarts de texte</h2>

  <div class="bg-grey">
    <div class="frame frame--bg-grey">
      <div class="frame__text">
        Julie & Matthieu
      </div>
    </div>
  </div>

  <div class="frame frame--bg-green">
    <div class="frame__text">
      Julie & Matthieu
    </div>
  </div>

  <h2>Motifs</h2>

  <%= image_tag "motif.svg", width: 30 %>

  <h2>Heading line</h2>

  <div class="heading-line">
    <div class="heading-line-icon">
      <%= image_tag "motif.svg", width: 30 %>
    </div>
  </div>
  <div class="heading-line heading-line--small">
    <div class="heading-line-icon">
      <%= image_tag "motif.svg", width: 30 %>
    </div>
  </div>

<br><br><br><br>
</div>
