<div id="landing-banner">
  <div id="landing-intro">
    <h1>Julie & Matthieu</h1>
    <h2>22 septembre 2018</h2>
  </div>
  <div id="landing-form">
    <div class="frame frame--bg-grey">
      <div class="frame__text">
        <p>Veuillez renseigner votre adresse email afin de pouvoir entrer sur le site.</p>
        <%= form_tag "/mariage", method: :get do %>
          <label for="email" class="label-upper">Email</label>
          <input type="text" name="email" class="input white-input input-with-submit" id="email">
          <%= submit_tag "Valider", class: "btn btn-green" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
