.program-container {
  width: 700px;
  margin: auto;
  margin-top: 96px;
  margin-bottom: 96px;
  p {
    font-size: 14px;
    margin: 0;
  }
}
.program-step {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.first-step {
  align-items: flex-start;
}
.last-step {
  align-items: flex-end;
}
.program_item {
  flex: 0 0 25%;
}
.program_infos {
  flex: 0 0 50%;
}
.program_timeline {
  padding-bottom: 0;
  img {
    width: 60px;
  }
}
